<mat-card [ngClass.lt-md]="'small-screen'" class="card">
  <h1 mat-card-title>Salary Details</h1>
  <mat-card-content fxLayout="column" [formGroup]="form" fxLayoutAlign=" stretch" fxLayoutGap="8px">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Bank Details</b>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
        <mat-form-field appearance="outline" fxFlex="50">
          <mat-label>Employee Name</mat-label>
          <mat-select formControlName="EmpId">
              <mat-option *ngFor="let emp of myEmployeeList" [value]="emp.Id">
                  {{ emp.FirstName }} {{emp.LastName}}</mat-option>
          </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="50">
        <mat-label>Bank Name</mat-label>
        <input matInput type="text" min="1" formControlName="BankName">
      </mat-form-field>
        </div>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Account Number</mat-label>
            <input matInput type="number" min="1" formControlName="AccountNo">
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Re-Enter Account Number</mat-label>
            <input matInput type="number" min="1" formControlName="ReEnterAccountNo">
          </mat-form-field>
        </div>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Account Holder Name</mat-label>
            <input matInput type="text" min="1" formControlName="AccountHolderName">
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>IFSC Code</mat-label>
            <input matInput type="text" min="1" formControlName="IFSCcode">
          </mat-form-field>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Salary Calculator</b>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
            <mat-label fxFlex="50"><b>Allowance</b></mat-label>
            <mat-label fxFlex="50"><b>Deduction</b></mat-label>
        </div>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Enter Basic Salary</mat-label>
            <input matInput type="number" min="1" formControlName="BasicSalary">
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Enter PT</mat-label>
            <input matInput type="number" min="1" formControlName="PT">
          </mat-form-field>
        </div>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Enter HRA</mat-label>
            <input matInput type="number" min="1" formControlName="HRA">
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Enter TDS</mat-label>
            <input matInput type="number" min="1" formControlName="TDS">
          </mat-form-field>
        </div>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Enter SA</mat-label>
            <input matInput type="number" min="1" formControlName="SA">
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Other Deduction</mat-label>
            <input matInput type="number" min="1" formControlName="OtherDed">
          </mat-form-field>
        </div>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Enter TA</mat-label>
            <input matInput type="number" min="1" formControlName="TA">
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Enter Leave</mat-label>
            <input matInput type="number" min="1" formControlName="Leave">
          </mat-form-field>
        </div>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Enter MA</mat-label>
            <input matInput type="number" min="1" formControlName="MA">
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Total Deduction</mat-label>
            <input matInput type="number" min="1" formControlName="TaxDeduction">
          </mat-form-field>
        </div>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Enter CCA</mat-label>
            <input matInput type="number" min="1" formControlName="CCA">
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Enter Net Pay</mat-label>
            <input matInput type="number" min="1" formControlName="NetPay">
          </mat-form-field>
        </div>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Enter LTC</mat-label>
            <input matInput type="number" min="1" formControlName="LTC">
          </mat-form-field>
        </div>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Enter MR</mat-label>
            <input matInput type="number" min="1" formControlName="MR">
          </mat-form-field>
        </div>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>Enter Gross Pay</mat-label>
            <input matInput type="number" min="1" formControlName="GrossPay">
          </mat-form-field>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px"></div>
  <mat-card-actions fxLayout="row" fxLayoutAlign="space-between ">
    <span class="spacer"></span>
    <div *ngIf="insert">
      <button color="accent" mat-flat-button (click)="insertEmployee()">
        Submit
      </button>
    </div>
    <div *ngIf="update">
      <button color="accent" mat-flat-button (click)="updateEmployee()">
        Update
      </button>
    </div>
    &nbsp;
    <button color="accent" mat-flat-button (click)="onClickCancel()">
      Cancel
    </button>
  </mat-card-actions>
</mat-card>

