@import "../../../../../variables";

:host {
  align-items: flex-end;
  display: flex;
  flex: 1;

  .container {
    background-color: $primary-color;
    color: white;
    width: 100%;

    .content {
      padding: 4px 16px;
      text-align: right;
    }
  }
}
