@import "../../../../../../mixins";

:host {
  @include main-content;
  flex: 0;
  flex-direction: column;
  padding-top: 32px;

  .content {
    @include data-table;
  }

  .query-form {
    .query-button {
      margin: 8px 0;
    }

    &__advanced {
      &--title {
        margin-bottom: 8px;
        line-height: 48px;
      }
    }
  }
}

app-company-list{
  .empListTable {
    .mat-column-companyName {
      flex: 0 0 10%;
  }
  }
}

@media (max-width: 599px) {
  .displayflex {
   display: flex !important;
  }
 th,td{
    padding: 0px 5px !important;
  }
}

.noData {
  display: flex;
  justify-content: center;
}
