<h1>Company List</h1>
<div class="content" fxFill fxLayout="column">
  <div class="mat-elevation-z1 content__table" fxLayout="column">
    <div class="content__table__datatable" fxLayout="column">
      <div class="content__table__header" fxLayout="row" style="margin-left: 2% !important;" fxLayoutAlign=" center">
      <mat-form-field fxFlex="80">
        <mat-label>Search Here</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search Here..." #input>
      </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
      <div style="margin-left: 5% !important;">
        <button (click)="onClickAdd()" color="accent" mat-flat-button >Add New Company</button>
      </div>
      </div>

      <table [dataSource]="dataSource" fxFlex mat-table>
        <ng-container matColumnDef="companyName" sticky>
          <th *matHeaderCellDef mat-header-cell> Company Name</th>
          <td *matCellDef="let element" mat-cell> {{element.CompanyName}} </td>
        </ng-container>
        <ng-container matColumnDef="webSite">
          <th *matHeaderCellDef mat-header-cell> Website </th>
          <td *matCellDef="let element" mat-cell> {{element.Website}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th *matHeaderCellDef mat-header-cell >Email</th>
          <td *matCellDef="let element"  mat-cell>
              {{element.Email}}
          </td>
       </ng-container>
       <ng-container matColumnDef="contactPerson">
         <th *matHeaderCellDef mat-header-cell>Contact Person</th>
         <td *matCellDef="let element" mat-cell>
           {{element.ContactPerson}}
         </td>
       </ng-container>
       <ng-container matColumnDef="contactNo">
         <th *matHeaderCellDef mat-header-cell>Contact No.</th>
         <td *matCellDef="let element" mat-cell>
             {{element.ContactNo}}
         </td>
       </ng-container>
       <ng-container matColumnDef="action">
        <th *matHeaderCellDef mat-header-cell>Action</th>
        <td *matCellDef="let row" mat-cell class="displayflex" >
          <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary" (click)="editCompany(row)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
          <button  mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="primary" (click)="deleteCompany(row)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </td>
      </ng-container>
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

      </table>
      <div *ngIf="noDataMessage" class="noData">
        <table  ><tr><td>No Data Available.</td></tr></table>
      </div>
<mat-paginator #paginator

                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
    </div>
  </div>
</div>

