<h1>Leave Application Details</h1>
<div class="content" fxFill fxLayout="column">
  <div class="mat-elevation-z1 content__table" fxLayout="column">
    <div class="content__table__datatable" fxLayout="column">
      <div class="content__table__header" fxLayout="row" style="margin-left: 2% !important;" fxLayoutAlign=" center">
      <mat-form-field fxFlex="80">
        <mat-label>Search Here</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search Here..." #input>
      </mat-form-field>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <div style="margin-left: 5% !important;">
        <button color="accent" mat-flat-button (click)="onClickApplyLeave()">Apply Leave</button>
      </div>
      </div>

      <mat-table class="empListTable"
      #table [dataSource]="dataSource"
      matSort>

<!-- Name Column -->
<ng-container matColumnDef="name">
   <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
   <mat-cell *matCellDef="let row">
       <p class="text-truncate">{{row.Name}}</p>
   </mat-cell>
</ng-container>

<ng-container matColumnDef="leaveType">
   <mat-header-cell *matHeaderCellDef mat-sort-header>Leave Type</mat-header-cell>
   <mat-cell *matCellDef="let row">
       <p class="text-truncate">{{row.Leavetype}} </p>
   </mat-cell>
</ng-container>
<ng-container matColumnDef="fromDate">
   <mat-header-cell *matHeaderCellDef mat-sort-header>From Date</mat-header-cell>
   <mat-cell *matCellDef="let row">
       <p class="text-truncate">{{row.FromDate |date: 'dd/MM/yyyy'}} </p>
   </mat-cell>
</ng-container>
<ng-container matColumnDef="toDate">
  <mat-header-cell *matHeaderCellDef mat-sort-header>To Date</mat-header-cell>
  <mat-cell *matCellDef="let row">
      <p class="text-truncate">{{row.ToDate |date: 'dd/MM/yyyy'}} </p>
  </mat-cell>
</ng-container>
<ng-container matColumnDef="reasonForLeave">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Reason For Leave</mat-header-cell>
  <mat-cell *matCellDef="let row">
      <p class="text-truncate">{{row.Reasonforleave}} </p>
  </mat-cell>
</ng-container>
<ng-container matColumnDef="status">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
  <mat-cell *matCellDef="let row">
      <p class="text-truncate">{{row.Status}} </p>
  </mat-cell>
</ng-container>
<ng-container matColumnDef="comment">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Comment</mat-header-cell>
  <mat-cell *matCellDef="let row">
      <p class="text-truncate">{{row.Comment}} </p>
  </mat-cell>
</ng-container>
<ng-container matColumnDef="action">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
  <mat-cell *matCellDef="let row">
    <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary" (click)="onClickEdit(row)">
      <mat-icon aria-label="Edit">edit</mat-icon>
    </button>

    <button  mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="primary" (click)="onClickDelete(row)">
      <mat-icon aria-label="Delete">delete</mat-icon>
    </button>
  </mat-cell>
</ng-container>

<mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

<mat-row *matRowDef="let row; columns: displayedColumns;"
        class="product"
        matRipple>
</mat-row>

</mat-table>
<div *ngIf="noDataMessage" class="noData">
  <table  ><tr><td>No Data Available.</td></tr></table>
</div>
<mat-paginator #paginator

                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
    </div>
  </div>
</div>

