<mat-card [ngClass.lt-md]="'small-screen'" class="card">
  <h1 mat-card-title>Edit Leave Application</h1>
  <mat-card-content [formGroup]="form" fxLayout="column" fxLayoutAlign=" stretch" fxLayoutGap="8px">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Leave Status</mat-label>
        <mat-select formControlName="Status" (selectionChange)="onChange($event.value)">
          <mat-option value="Pending">Pending</mat-option>
          <mat-option value="Approve">Approve</mat-option>
          <mat-option value="Reject">Reject</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <div *ngIf="selectedStatusforReject" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" color="accent" fxFlex="100">
        <mat-label>Comment</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="Comment">
      </mat-form-field>
    </div>
  </mat-card-content>

  <mat-card-actions fxLayout="row" fxLayoutAlign="space-between ">
    <span class="spacer"></span>
    <div>
      <button color="accent" mat-flat-button (click)="updateLeaveApplication()">
        Update
      </button>
    </div>
    &nbsp;
    <button color="accent" mat-flat-button (click)="onClickCancel()">
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
