@import "../../../variables";

:host {

  .loading {
    align-items: center;
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;

    .icon {
      position: absolute;
      width: 10%;
      ///
    }

    ::ng-deep .spinner > svg > circle {
      stroke: white !important;
      stroke-width: 4px !important;
    }
  }

}
