<mat-card [ngClass.lt-md]="'small-screen'" class="card">
  <h1 mat-card-title>Apply Leave</h1>
  <mat-card-content [formGroup]="form" fxLayout="column" fxLayoutAlign=" stretch" fxLayoutGap="8px">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Leave Type</mat-label>
        <mat-select formControlName="Leavetype">
          <mat-option value="Sick Leave">Sick Leave</mat-option>
          <mat-option value="Casual Leave">Casual Leave</mat-option>
          <mat-option value="Privilege Leave">Privilege Leave</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Leave Type</mat-label>
        <mat-select formControlName="Status">
          <mat-option value="Pending">Pending</mat-option>
          <mat-option value="Approve">Approve</mat-option>
          <mat-option value="Reject">Reject</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>From Date</mat-label>
        <input (click)="picker.open()" [matDatepicker]="picker" matInput formControlName="FromDate">
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker [touchUi]="mainLayoutService.isSmallScreen$ | async"></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>To Date</mat-label>
        <input (click)="picker.open()" [matDatepicker]="picker1" matInput formControlName="ToDate">
        <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker1 [touchUi]="mainLayoutService.isSmallScreen$ | async"></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" color="accent" fxFlex="100">
        <mat-label>Reason For Leave</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="Reasonforleave">
      </mat-form-field>
    </div>
  </mat-card-content>
  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px"></div>
  <mat-card-actions fxLayout="row" fxLayoutAlign="space-between ">
    <span class="spacer"></span>
    <div *ngIf="insert">
      <button color="accent" mat-flat-button (click)="insertLeaveApplication()">
        Submit
      </button>
    </div>
    <div *ngIf="update">
      <button color="accent" mat-flat-button (click)="updateLeaveApplication()">
        Update
      </button>
    </div>&nbsp;
    <button color="accent" mat-flat-button (click)="onClickCancel()">
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
