<!-- <div>
    <div class="content-container">
      <mat-icon id="close-icon" (click)="closeDialog()">close</mat-icon>
      <span class="content-span full-width">{{data.message}}</span>
    </div>
    <button mat-flat-button id="no-button" [mat-dialog-close]="false">NO</button>
    <button mat-flat-button id="yes-button" [mat-dialog-close]="true">YES</button>
  </div> -->

  <div mat-dialog-content><h3><b>{{data.message}}</b></h3></div>
<div mat-dialog-actions align="end">
  <button class="mat-raised-button mat-primary" mat-button mat-dialog-close >NO</button>&nbsp;&nbsp;
  <button class="mat-raised-button mat-primary" mat-button id="yes-button" [mat-dialog-close]="true">YES</button>
</div>
