<mat-card [ngClass.lt-md]="'small-screen'" class="card">
  <h1 mat-card-title>Add Employee</h1>
  <mat-card-content [formGroup]="form" fxLayout="column" fxLayoutAlign=" stretch" fxLayoutGap="8px">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" color="accent" fxFlex="33">
        <mat-label>First Name</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="FirstName">
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" fxFlex="33">
        <mat-label>Middle Name</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="MiddleName">
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" fxFlex="33">
        <mat-label>Last Name</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="LastName">
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">

      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Email</mat-label>
        <input autocomplete="off" matInput type="email" formControlName="email">
        <span matSuffix><mat-icon color="primary" style="color: rgba(0, 0, 0, 0.38)">mail</mat-icon></span>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Password</mat-label>
        <input autocomplete="off" matInput required type="text" formControlName="password">
        <mat-error >
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" fxFlex="50">
        <mat-label>Select Company</mat-label>
        <mat-select formControlName="CompanyID">
            <mat-option *ngFor="let company of myCompanyList" [value]="company.CompanyID">
                {{ company.CompanyName }}</mat-option>
        </mat-select>
        <mat-error>
          Company Name is required
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="50">
      <mat-label>Select Role</mat-label>
      <mat-select formControlName="RoleID">
          <mat-option *ngFor="let role of myRoleList" [value]="role.RoleID">
              {{ role.Role }}</mat-option>
      </mat-select>
      <mat-error>
        Company Name is required
      </mat-error>
  </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Date of Birth</mat-label>
        <input (click)="picker.open()" [matDatepicker]="picker" matInput formControlName="DOB">
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker [touchUi]="mainLayoutService.isSmallScreen$ | async"></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Contact No.</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="ContactNo">
        <span matSuffix><mat-icon color="primary" style="color: rgba(0, 0, 0, 0.38)">phone_iphone</mat-icon></span>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Employee Code</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="employeeCode">
      </mat-form-field>
      <mat-radio-group aria-label="Select an option" fxFlex="50" formControlName="gender">
        <mat-label>Gender:</mat-label>&nbsp;
        <mat-radio-button value="Male">Male</mat-radio-button>&nbsp;
        <mat-radio-button value="Female">Female</mat-radio-button>
      </mat-radio-group>
    </div>


    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" fxFlex="50">
        <mat-label>Select Department</mat-label>
        <mat-select formControlName="DepartmentID">
            <mat-option *ngFor="let dept of myDepartmentList" [value]="dept.DepartmentID">
                {{ dept.DepartmentName }}</mat-option>
        </mat-select>
        <mat-error>
          Company Name is required
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="50">
      <mat-label>Select Position</mat-label>
      <mat-select formControlName="PositionID">
          <mat-option *ngFor="let position of myPositionList" [value]="position.PositionID">
              {{ position.PositionName }}</mat-option>
      </mat-select>
      <mat-error>
        Company Name is required
      </mat-error>
  </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Date of Joining</mat-label>
        <input (click)="picker.open()" [matDatepicker]="picker1" matInput formControlName="dateOfJoining">
        <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker1 [touchUi]="mainLayoutService.isSmallScreen$ | async"></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Terminate Date</mat-label>
        <input (click)="picker.open()" [matDatepicker]="picker2" matInput formControlName="terminatedate">
        <mat-datepicker-toggle [for]="picker2" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker2 [touchUi]="mainLayoutService.isSmallScreen$ | async"></mat-datepicker>
      </mat-form-field>
    </div>
  </mat-card-content>
  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px"></div>
  <mat-card-actions fxLayout="row" fxLayoutAlign="space-between ">
    <span class="spacer"></span>
    <div *ngIf="insert">
      <button color="accent" mat-flat-button (click)="insertEmployee()">
        Submit
      </button>
    </div>
    <div *ngIf="update">
      <button color="accent" mat-flat-button (click)="updateEmployee()">
        Update
      </button>
    </div>
    &nbsp;
    <button color="accent" mat-flat-button (click)="cancel()">
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
