@import "../../../../../variables";

:host {
  .toolbar {
    transition: background-color 150ms linear;
    z-index: 2;

    .sticky {
      position: fixed;
      top: 0;
    }

    .icon {
    }

    .logo {
      fill: white;
      height: 2rem;
    }

    &.active {
      .icon {
        transition: color 150ms linear;
      }

      .logo {
        transition: color 150ms linear;
      }
    }

    &.primary {
    }
  }
}

.adjust{
  margin: 0;
}
