<mat-card [ngClass.lt-md]="'small-screen'" class="card">
  <h1 mat-card-title>Edit Personal Info</h1>
  <mat-card-content [formGroup]="form" fxLayout="column" fxLayoutAlign=" stretch" fxLayoutGap="8px">

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" color="accent" fxFlex="33">
        <mat-label>First Name</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="FirstName">
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" fxFlex="33">
        <mat-label>Middle Name</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="MiddleName">
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" fxFlex="33">
        <mat-label>Last Name</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="LastName">
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" color="accent" fxFlex="33">
        <mat-label>Email</mat-label>
        <input autocomplete="off" matInput type="email" formControlName="Email" [readonly]="email_readonly">
        <span matSuffix><mat-icon color="primary" style="color: rgba(0, 0, 0, 0.38)">mail</mat-icon></span>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" fxFlex="33">
        <mat-label>Age</mat-label>
        <input autocomplete="off" matInput required type="text" formControlName="Age">
      </mat-form-field>
      <mat-radio-group aria-label="Select an option" fxFlex="33" formControlName="Gender">
        <mat-label>Gender:</mat-label>&nbsp;
        <mat-radio-button value="Male">Male</mat-radio-button>&nbsp;
        <mat-radio-button value="Female">Female</mat-radio-button>
      </mat-radio-group>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Contact No.</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="ContactNo">
        <span matSuffix><mat-icon color="primary" style="color: rgba(0, 0, 0, 0.38)">phone_iphone</mat-icon></span>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Emergancy Contact No.</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="EmergencyContactNo">
        <span matSuffix><mat-icon color="primary" style="color: rgba(0, 0, 0, 0.38)">phone_iphone</mat-icon></span>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" color="accent" fxFlex="33">
        <mat-label>PAN Card No</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="PANcardNo">
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Date of Birth</mat-label>
        <input (click)="picker.open()" [matDatepicker]="picker" matInput formControlName="DOB">
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker [touchUi]="mainLayoutService.isSmallScreen$ | async"></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Blood Group</mat-label>
        <mat-select formControlName="BloodGroup">
          <mat-option value="2015">A+</mat-option>
          <mat-option value="2016">A-</mat-option>
          <mat-option value="2017">B+</mat-option>
          <mat-option value="2018">B-</mat-option>
          <mat-option value="2019">AB+</mat-option>
          <mat-option value="2020">AB-</mat-option>
          <mat-option value="2021">O+</mat-option>
          <mat-option value="2022">O-</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Hobbies</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="Hobbies">
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Pincode</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="Pincode">
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" color="accent" fxFlex="33">
        <mat-label>Address 1</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="Address1">
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" fxFlex="33">
        <mat-label>Address 2</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="Address2">
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" fxFlex="33">
        <mat-label>Address 3</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="Address3">
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" fxFlex="33">
        <mat-label>Select Country</mat-label>
        <mat-select formControlName="CountryID">
            <mat-option *ngFor="let dept of myCountryList" [value]="dept.CountryID">
                {{ dept.CountryName }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="33">
      <mat-label>Select State</mat-label>
      <mat-select formControlName="StateID">
          <mat-option *ngFor="let dept of myStateList" [value]="dept.StateID">
              {{ dept.StateName }}</mat-option>
      </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" fxFlex="33">
    <mat-label>Select City</mat-label>
    <mat-select formControlName="CityID">
        <mat-option *ngFor="let dept of myCityList" [value]="dept.CityID">
            {{ dept.CityName }}</mat-option>
    </mat-select>
</mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Permenent Address</mat-label>
        <mat-select formControlName="IsSameAsPresent">
          <mat-option value="0">Select</mat-option>
          <mat-option value="1">As above</mat-option>
          <mat-option value="2">Other</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </mat-card-content>
  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px"></div>
  <mat-card-actions fxLayout="row" fxLayoutAlign="space-between ">
    <span class="spacer"></span>
    <div>
      <button color="accent" mat-flat-button (click)="onClickSubmit()">
        Submit
      </button>
    </div>
    &nbsp;
    <button color="accent" mat-flat-button (click)="cancel()">
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
