<mat-card [ngClass.lt-md]="'small-screen'" class="card">
  <h1 mat-card-title>Add Education</h1>
  <mat-card-content [formGroup]="form" fxLayout="column" fxLayoutAlign=" stretch" fxLayoutGap="8px">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>School/University</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="SchoolUniversity">
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Degree</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="Degree">
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">

      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Grade</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="Grade">
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Year of Passing</mat-label>
        <input autocomplete="off" matInput required type="number" formControlName="PassingOfYear">
      </mat-form-field>
    </div>
  </mat-card-content>
  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px"></div>
  <mat-card-actions fxLayout="row" fxLayoutAlign="space-between ">
    <span class="spacer"></span>
    <div *ngIf="insert">
      <button color="accent" mat-flat-button (click)="insertEmpEducation()">
        Submit
      </button>
    </div>
    <div *ngIf="update">
      <button color="accent" mat-flat-button (click)="updateEmpEducation()">
        Update
      </button>
    </div>
    &nbsp;
    <button color="accent" mat-flat-button (click)="onClickCancel()">
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
