<mat-card [ngClass.lt-md]="'small-screen'" class="card">
  <h1 mat-card-title>Add Holiday</h1>
  <mat-card-content [formGroup]="form" fxLayout="column" fxLayoutAlign=" stretch" fxLayoutGap="8px">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Holiday Name</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="HolidayName">
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="50">
        <mat-label>Select Holiday Type</mat-label>
        <mat-select formControlName="HolidayID">
            <mat-option *ngFor="let ht of myHolidayTypeList" [value]="ht.HolidayID">
                {{ ht.HolidayType }}</mat-option>
        </mat-select>
        <mat-error>
          Holiday Type is required
        </mat-error>
    </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Frequency</mat-label>
        <mat-select formControlName="Year">
          <mat-option value="2015">2015</mat-option>
          <mat-option value="2016">2016</mat-option>
          <mat-option value="2017">2017</mat-option>
          <mat-option value="2018">2018</mat-option>
          <mat-option value="2019">2019</mat-option>
          <mat-option value="2020">2020</mat-option>
          <mat-option value="2021">2021</mat-option>
          <mat-option value="2022">2022</mat-option>
          <mat-option value="2023">2023</mat-option>
          <mat-option value="2024">2024</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Holiday Sequence</mat-label>
        <mat-select formControlName="Frequency" (selectionChange)="onChange($event.value)">
          <mat-option value="Single">Single</mat-option>
          <mat-option value="Multiple">Multiple</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>From Date</mat-label>
        <input (click)="picker.open()" [matDatepicker]="picker" matInput formControlName="FromDate">
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker [touchUi]="mainLayoutService.isSmallScreen$ | async"></mat-datepicker>
      </mat-form-field>
      <mat-form-field *ngIf="selectedHolidaySequence" appearance="outline" color="accent" fxFlex="50">
        <mat-label>To Date</mat-label>
        <input (click)="picker.open()" [matDatepicker]="picker1" matInput formControlName="ToDate">
        <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker1 [touchUi]="mainLayoutService.isSmallScreen$ | async"></mat-datepicker>
      </mat-form-field>
    </div>
  </mat-card-content>
  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px"></div>
  <mat-card-actions fxLayout="row" fxLayoutAlign="space-between ">
    <span class="spacer"></span>
    <div *ngIf="insert">
      <button color="accent" mat-flat-button (click)="insertHoliday()">
        Submit
      </button>
    </div>
    <div *ngIf="update">
      <button color="accent" mat-flat-button (click)="updateHoliday()">
        Update
      </button>
    </div>
    &nbsp;
    <button color="accent" mat-flat-button (click)="onClickCancel()">
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
