@import "../../../../../mixins";

:host {
  @include standalone-card;
}

// .background-div{
//   padding: 30px 0;
//     margin: 0 auto;
//     background: url('') no-repeat;
//     background-size: cover;
//     min-height: 100vh;
//     display: flex;
//     -webkit-box-align: center;
//     align-items: center;
// }

