
  <mat-card class="card">
    <h1 mat-card-title>
      Sign in
    </h1>
    <mat-card-content [formGroup]="form" fxLayout="column" fxLayoutGap="8px">
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Email</mat-label>
        <input autocomplete="off" formControlName="email" matInput maxlength="64" placeholder="Enter your email address"
               type="email">
        <span matSuffix><mat-icon color="primary">mail</mat-icon></span>
        <mat-error *ngIf="form.controls['email'].hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.controls['email'].hasError('email')">
          Email must be <strong>valid</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Password</mat-label>
        <input autocomplete="off" formControlName="password" matInput maxlength="12" placeholder="Enter your password"
               type="password">
        <span matSuffix><mat-icon color="primary">lock</mat-icon></span>
        <mat-error *ngIf="form.controls['password'].hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.controls['password'].hasError('minlength')">
          <strong>Invalid</strong> password
        </mat-error>
      </mat-form-field>
      <mat-checkbox color="accent" formControlName="remember_me">Remember-me</mat-checkbox>
      <mat-error *ngIf="error.invalidData">
        Please check all the fields and submit again!
      </mat-error>
      <mat-error *ngIf="error.unexpectedError">
        Something unexpected happened, please try again later.
      </mat-error>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="space-between ">
      <span class="spacer"></span>
      <button (click)="onSubmit()" [disabled]="form.invalid" color="accent" mat-flat-button>Sign in</button>
    </mat-card-actions>
  </mat-card>


