<mat-card [ngClass.lt-md]="'small-screen'" class="card">
  <h1 mat-card-title>Add Company</h1>
  <mat-card-content [formGroup]="form" fxLayout="column" fxLayoutAlign=" stretch" fxLayoutGap="8px">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Company Name</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="CompanyName">
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Address</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="Address">
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" fxFlex="50">
        <mat-label>Select Country</mat-label>
        <mat-select formControlName="CountryID">
            <mat-option *ngFor="let dept of myCountryList" [value]="dept.CountryID">
                {{ dept.CountryName }}</mat-option>
        </mat-select>
        <mat-error>
          Company Name is required
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="50">
      <mat-label>Select State</mat-label>
      <mat-select formControlName="StateID">
          <mat-option *ngFor="let dept of myStateList" [value]="dept.StateID">
              {{ dept.StateName }}</mat-option>
      </mat-select>
      <mat-error>
        Company Name is required
      </mat-error>
  </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" fxFlex="50">
        <mat-label>Select City</mat-label>
        <mat-select formControlName="CityID">
            <mat-option *ngFor="let dept of myCityList" [value]="dept.CityID">
                {{ dept.CityName }}</mat-option>
        </mat-select>
        <mat-error>
          Company Name is required
        </mat-error>
    </mat-form-field>
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Postal Code</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="PostalCode">
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Website</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="Website">
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Email</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="Email">
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Contact Person</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="ContactPerson">
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Contact No</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="ContactNo">
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>FAX No</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="FaxNo">
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>PAN No</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="PanNo">
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>GST No</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="GSTNo">
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>CIN No</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="CINNo">
      </mat-form-field>
    </div>
  </mat-card-content>
  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px"></div>
  <mat-card-actions fxLayout="row" fxLayoutAlign="space-between ">
    <span class="spacer"></span>
    <div *ngIf="insert">
      <button color="accent" mat-flat-button (click)="insertCompany()">
        Submit
      </button>
    </div>
    <div *ngIf="update">
      <button color="accent" mat-flat-button (click)="updateCompany()">
        Update
      </button>
    </div>
    &nbsp;
    <button color="accent" mat-flat-button (click)="onClickCancel()">
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
