<app-toolbar [toolbarActive]="true" class="toolbar"></app-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav *ngIf="mainLayoutService.sideNavIsEnabled$ | async"
               [mode]="( mainLayoutService.isSmallScreen$ | async ) ? 'over' : 'side'"
               [opened]="mainLayoutService.sidenavOpened$ | async"
               [position]="( mainLayoutService.isSmallScreen$ | async ) ? 'end' : 'start'"
               disableClose>
<!--For HR-->
    <mat-nav-list *ngIf='hr'>
      <mat-list-item [routerLink]="['/member']" (click)="onChangeRoute()">
        <mat-icon mat-list-icon>supervisor_account</mat-icon>
        <div mat-line>Employee</div>

      </mat-list-item>
      <mat-list-item [routerLink]="['/member/employee-salary']" (click)="onChangeRoute()">
        <mat-icon mat-list-icon>payment</mat-icon>
        <div mat-line>Salary Management</div>
      </mat-list-item>
      <!-- <mat-list-item [routerLink]="['/member/monthly-salary']" (click)="onChangeRoute()">
        <div mat-line>Monthlysalary</div>
      </mat-list-item> -->
      <!-- <mat-list-item>
        <div mat-line>Attendance</div>
      </mat-list-item> -->
      <mat-list-item [routerLink]="['/member/holiday-list']" (click)="onChangeRoute()">
        <mat-icon mat-list-icon>date_range</mat-icon>
        <div mat-line>Holiday Calender</div>
      </mat-list-item>
      <mat-list-item [routerLink]="['/member/holiday-type-list']" (click)="onChangeRoute()">
        <mat-icon mat-list-icon>today</mat-icon>
        <div mat-line>Holiday Type</div>
      </mat-list-item>
      <mat-list-item [routerLink]="['/member/leave-application-list']" (click)="onChangeRoute()">
        <mat-icon mat-list-icon>note_add</mat-icon>
        <div mat-line>Leave Application</div>
      </mat-list-item>
      <mat-list-item [routerLink]="['/member/company-list']" (click)="onChangeRoute()">
        <mat-icon mat-list-icon>apartment</mat-icon>
        <div mat-line>Company</div>
      </mat-list-item>
      <mat-list-item [routerLink]="['/member/role-list']" (click)="onChangeRoute()">
        <mat-icon mat-list-icon>perm_identity</mat-icon>
        <div mat-line>Role</div>
      </mat-list-item>
      <mat-list-item [routerLink]="['/member/position-list']" (click)="onChangeRoute()">
        <mat-icon mat-list-icon>airline_seat_recline_normal</mat-icon>
        <div mat-line>Position</div>
      </mat-list-item>
      <mat-list-item [routerLink]="['/member/department-list']" (click)="onChangeRoute()">
        <mat-icon mat-list-icon>supervisor_account</mat-icon>
        <div mat-line>Department</div>
      </mat-list-item>
      <mat-list-item (click)="onChangeRoute()">
        <mat-icon mat-list-icon>location_on</mat-icon>
        <div mat-line>Country</div>
      </mat-list-item>
      <mat-list-item (click)="onChangeRoute()">
        <mat-icon mat-list-icon>festival</mat-icon>
        <div mat-line>State</div>
      </mat-list-item>
      <mat-list-item (click)="onChangeRoute()">
        <mat-icon mat-list-icon>apartment</mat-icon>
        <div mat-line>City</div>
      </mat-list-item>
      <!-- <mat-divider>
      </mat-divider>
      <mat-list-item>
        <div (click)="signOut()" mat-line>
          Sign Out
        </div>
      </mat-list-item> -->
    </mat-nav-list>

<!-- For Admin-->
<mat-nav-list *ngIf='admin'>
  <mat-list-item>
    <mat-icon mat-list-icon>perm_identity</mat-icon>
    <div mat-line>Role</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>airline_seat_recline_normal</mat-icon>
    <div mat-line>Position</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>supervisor_account</mat-icon>
    <div mat-line>Department</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>computer</mat-icon>
    <div mat-line>Project Bidding</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>web</mat-icon>
    <div mat-line>Portal Master</div>
  </mat-list-item>
  <!-- <mat-divider>
  </mat-divider>
  <mat-list-item>
    <div (click)="signOut()" mat-line>
      Sign Out
    </div>
  </mat-list-item> -->
</mat-nav-list>


<!--For Employee-->
<mat-nav-list *ngIf='employee'>
  <mat-list-item [routerLink]="['/employee']" (click)="onChangeRoute()">
    <mat-icon mat-list-icon>person_add</mat-icon>
    <div mat-line>Personal Information</div>
  </mat-list-item>
  <mat-list-item [routerLink]="['/employee/education-list']" (click)="onChangeRoute()">
    <mat-icon mat-list-icon>school</mat-icon>
    <div mat-line>Education</div>
  </mat-list-item>
  <mat-list-item [routerLink]="['/employee/family-info-list']" (click)="onChangeRoute()">
    <mat-icon mat-list-icon>family_restroom</mat-icon>
    <div mat-line>Dependents</div>
  </mat-list-item>
  <mat-list-item [routerLink]="['/employee/work-experience-list']" (click)="onChangeRoute()">
    <mat-icon mat-list-icon>card_travel</mat-icon>
    <div mat-line>WorkExp</div>
  </mat-list-item>
  <mat-list-item [routerLink]="['/employee/leave-application-list']" (click)="onChangeRoute()">
    <mat-icon mat-list-icon>note_add</mat-icon>
    <div mat-line>Leave Application</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>receipt</mat-icon>
    <div mat-line>Salary Slip</div>
  </mat-list-item>
  <!-- <mat-divider>
  </mat-divider>
  <mat-list-item>
    <div (click)="signOut()" mat-line>
      Sign Out
    </div>
  </mat-list-item> -->
</mat-nav-list>



  </mat-sidenav>
  <mat-sidenav-content (scroll)="onScroll($event)"
                       [ngStyle]="{'background-image': backgroundImage}"
                       class="sidenav-content">
    <ng-content></ng-content>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
