:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;

  .mat-sidenav-container {
    flex: 1;
    background-color: whitesmoke;

    .mat-sidenav {
      width: 260px;
      background-color: #454b59;
      color: white;
      .mat-list-item {
        .mat-icon {
          opacity: 1;
          color: white;
        }
      }
      .mat-line{
        color: white;
      }
    }

    .mat-sidenav-content {
      display: flex;
      flex-direction: column;
    }
  }
}
