@import "../variables";

:host {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.loader {
  align-items: center;
  background: $secondary-color;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: absolute;
  width: 100vw;
  z-index: 99;

  .icon {
    height: auto;
    position: absolute;
    width: 24px;
  }
}
