@import "../../../../../../mixins";

:host {
  @include main-content;
  flex: 0;
  flex-direction: column;
  padding-top: 32px;

  .content {
    @include data-table;
  }

  .query-form {
    .query-button {
      margin: 8px 0;
    }

    &__advanced {
      &--title {
        margin-bottom: 8px;
        line-height: 48px;
      }
    }
  }
}


.noData {
  display: flex;
  justify-content: center;
}
