<mat-card [ngClass.lt-md]="'small-screen'" class="card">
  <h1 mat-card-title>Add Work Experience</h1>
  <mat-card-content [formGroup]="form" fxLayout="column" fxLayoutAlign=" stretch" fxLayoutGap="8px">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Company Name</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="CompanyName">
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Designation</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="Designation">
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>From Date</mat-label>
        <input (click)="picker.open()" [matDatepicker]="picker" matInput formControlName="FromDate">
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker [touchUi]="mainLayoutService.isSmallScreen$ | async"></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>To Date</mat-label>
        <input (click)="picker.open()" [matDatepicker]="picker1" matInput formControlName="ToDate">
        <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker1 [touchUi]="mainLayoutService.isSmallScreen$ | async"></mat-datepicker>
      </mat-form-field>
    </div>
  </mat-card-content>
  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px"></div>
  <mat-card-actions fxLayout="row" fxLayoutAlign="space-between ">
    <span class="spacer"></span>
    <div *ngIf="insert">
      <button color="accent" mat-flat-button (click)="insertEmpWorkExperience()">
        Submit
      </button>
    </div>
    <div *ngIf="update">
      <button color="accent" mat-flat-button (click)="updateEmpWorkExperience()">
        Update
      </button>
    </div>&nbsp;
    <button color="accent" mat-flat-button (click)="onClickCancel()">
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
