<mat-card [ngClass.lt-md]="'small-screen'" class="card">
  <h1 mat-card-title>Add Family Info</h1>
  <mat-card-content [formGroup]="form" fxLayout="column" fxLayoutAlign=" stretch" fxLayoutGap="8px">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Name</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="Name">
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Relationship</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="Relationship">
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">

      <!-- <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>DOB</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="DOB">
      </mat-form-field> -->
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Date of Birth</mat-label>
        <input (click)="picker.open()" [matDatepicker]="picker" matInput formControlName="DOB">
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker [touchUi]="mainLayoutService.isSmallScreen$ | async"></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Occupation</mat-label>
        <input autocomplete="off" matInput required type="text" formControlName="Occupation">
      </mat-form-field>
    </div>
  </mat-card-content>
  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px"></div>
  <mat-card-actions fxLayout="row" fxLayoutAlign="space-between ">
    <span class="spacer"></span>
    <div *ngIf="insert">
      <button color="accent" mat-flat-button (click)="insertEmpFamilyInfo()">
        Submit
      </button>
    </div>
    <div *ngIf="update">
      <button color="accent" mat-flat-button (click)="updateEmpFamilyInfo()">
        Update
      </button>
    </div>&nbsp;
    <button color="accent" mat-flat-button (click)="onClickCancel()">
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
