<mat-card [ngClass.lt-md]="'small-screen'" class="card">
  <h1 mat-card-title>Add Role</h1>
  <mat-card-content [formGroup]="form" fxLayout="column" fxLayoutAlign=" stretch" fxLayoutGap="8px">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Role Id</mat-label>
        <mat-select formControlName="RoleID">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
          <mat-option value="5">5</mat-option>
          <mat-option value="6">6</mat-option>
          <mat-option value="7">7</mat-option>
          <mat-option value="8">8</mat-option>
          <mat-option value="9">9</mat-option>
          <mat-option value="10">10</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" fxFlex="50">
        <mat-label>Role</mat-label>
        <input autocomplete="off" matInput type="text" formControlName="Role">
      </mat-form-field>
    </div>

  </mat-card-content>
  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px"></div>
  <mat-card-actions fxLayout="row" fxLayoutAlign="space-between ">
    <span class="spacer"></span>
    <div *ngIf="insert">
      <button color="accent" mat-flat-button (click)="insertRole()">
        Submit
      </button>
    </div>
    <div *ngIf="update">
      <button color="accent" mat-flat-button (click)="updateRole()">
        Update
      </button>
    </div>
    &nbsp;
    <button color="accent" mat-flat-button (click)="onClickCancel()">
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
