@import "~@angular/flex-layout/mq";

@mixin container {
  margin: 0 1rem;
  width: 100%;

  @media (min-width: map-get($overlapping-gt, gt-xs)) {
    margin: 0 1.5rem;
  }

  @media (min-width: map-get($overlapping-gt, gt-md)) {
    max-width: 1439px;
  }

  @media (min-width: map-get($overlapping-gt, gt-lg)) {
    max-width: 1919.9px;
  }
}

@mixin margin {
  margin: 0 1rem;

  @media (min-width: map-get($overlapping-gt, gt-xs)) {
    margin: 0 1.5rem;
  }
}

@mixin padding($y: false) {
  @if ($y) {
    padding: 1rem;

    @media (min-width: map-get($overlapping-gt, gt-xs)) {
      padding: 1.5rem;
    }
  } @else {
    padding: 0 1rem;

    @media (min-width: map-get($overlapping-gt, gt-xs)) {
      padding: 0 1.5rem;
    }
  }
}

