@mixin standalone-card {
  @include main-content;

  .card {
    margin: 0 auto;
    min-width: 600px;
    @media (max-width: 599px) {
      min-width: 100%;
    }

    .mat-card-title, .mat-card-subtitle {
      text-align: center;
    }

    .mat-card-content {
      .mat-checkbox {
        margin-bottom: 8px;
      }
    }
  }
}

@mixin main-content {
  align-items: flex-start;
  display: flex;
  flex: 1 1 auto;
  padding: 40px 32px;
  @media (max-width: 599px) {
    padding: 24px 16px;
  }
}

@mixin data-table {
  &__card-grid {
    &__header {
    }

    &__title {
      line-height: 48px;
      margin: 0;
    }
  }
}

@mixin card-grid {
  .content {
    &__card-grid {
      &__header {
      }

      &__title {
        line-height: 48px;
        margin: 0;
      }

      .mat-card {
        .mat-card-image {
          align-items: center;
          display: flex;
          justify-content: center;
          margin: -16px 0 -16px -16px;
          position: relative;

          img {
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
            height: auto;
            max-height: 100%;
            max-width: 100%;
            padding: 0 4px;
            position: absolute;
          }
        }

        .mat-card-content {
          margin-bottom: 0;

          .mat-subheading-2 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        .mat-card:hover {
          background: whitesmoke;
        }

        .mat-card-actions {
          margin-bottom: -16px;
        }
      }
    }
  }
}

@mixin query-form {
  .query__button {
    margin: 8px 0;
  }

  &__advanced {
    &__title {
      line-height: 48px;
      margin-bottom: 8px;
    }
  }
}

@mixin content-progress-bar {
  padding: 8px 0;
}
