@import '~@angular/material/theming';

$mat-blue-clubforce: (
  50: #E0ECF5,
  100: #B3D0E7,
  200: #80B1D7,
  300: #4D91C7,
  400: #267ABB,
  500: #0062AF,
  600: #005AA8,
  700: #00509F,
  800: #004696,
  900: #003486,
  A100: #B3CAFF,
  A200: #80A7FF,
  A400: #4D84FF,
  A700: #3372FF,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-blue-grey-clubforce: (
  50: #E9E9EB,
  100: #C7C9CD,
  200: #A2A5AC,
  300: #7D818B,
  400: #616672,
  500: #454B59,
  600: #3E4451,
  700: #363B48,
  800: #2E333E,
  900: #1F232E,
  A100: #76A0FF,
  A200: #437DFF,
  A400: #105AFF,
  A700: #004CF6,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-teal-clubforce: (
  50: #ECF9F5,
  100: #CFF0E7,
  200: #B0E6D7,
  300: #90DCC6,
  400: #78D5BA,
  500: #60CDAE,
  600: #58C8A7,
  700: #4EC19D,
  800: #44BA94,
  900: #33AE84,
  A100: #F6FFFC,
  A200: #C3FFEA,
  A400: #90FFD7,
  A700: #77FFCE,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  )
);

$primary-color: map-get($mat-blue-grey-clubforce, 500);
$secondary-color: map-get($mat-teal-clubforce, 500);
$secondary-color-alpha: rgba($secondary-color, 0.9);
$primary-alt-color: map-get($mat-blue-clubforce, 500);
$warning-color: map-get($mat-red, 500);

