// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import "variables";
@import "fonts";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-palette-light-primary: mat-palette($mat-blue-grey-clubforce);
$app-palette-light-accent: mat-palette($mat-teal-clubforce);

// The warn palette is optional (defaults to red).
$app-palette-light-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme-light: mat-light-theme($app-palette-light-primary, $app-palette-light-accent, $app-palette-light-warn);
$app-theme-dark: mat-dark-theme($mat-teal-clubforce, $mat-blue-clubforce, $app-palette-light-warn);

.dark {
  @include angular-material-theme($app-theme-dark);
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme-light);

/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: whitesmoke;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 0 auto;
}
