<h1>Personal Details</h1>
<div class="content" fxFill fxLayout="column">
  <div class="mat-elevation-z1 content__table" fxLayout="column">
    <div class="content__table__datatable" fxLayout="column">
      <!-- <div class="content__table__header" fxLayout="row" style="margin-left: 2% !important;" fxLayoutAlign=" center">
      <mat-form-field fxFlex="80">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search Here..." #input>
      </mat-form-field>
      </div> -->

      <table [dataSource]="dataSource" fxFlex mat-table>
        <ng-container matColumnDef="employeeCode" sticky>
          <th *matHeaderCellDef mat-header-cell> Employee Code</th>
          <td *matCellDef="let element" mat-cell> {{element.EmployeeCode}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell> Name </th>
          <td *matCellDef="let element" mat-cell> {{element.FirstName}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th *matHeaderCellDef mat-header-cell >Email</th>
          <td *matCellDef="let element"  mat-cell>
              {{element.Email}}
          </td>
       </ng-container>
       <ng-container matColumnDef="contactNo">
         <th *matHeaderCellDef mat-header-cell>Contact No.</th>
         <td *matCellDef="let element" mat-cell>
           {{element.ContactNo}}
         </td>
       </ng-container>
       <ng-container matColumnDef="department">
         <th *matHeaderCellDef mat-header-cell>Department</th>
         <td *matCellDef="let element" mat-cell>
             {{element.DepartmentName}}
         </td>
       </ng-container>
       <ng-container matColumnDef="action">
        <th *matHeaderCellDef mat-header-cell>Action</th>
        <td *matCellDef="let row" mat-cell class="displayflex" >
          <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary" (click)="editPersonalInfo(row)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
        </td>
      </ng-container>
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

      </table>
      <!-- <mat-table class="empListTable"
      #table [dataSource]="dataSource"
      matSort>
<ng-container matColumnDef="employeeCode">
   <mat-header-cell *matHeaderCellDef mat-sort-header>Employee Code</mat-header-cell>
   <mat-cell *matCellDef="let row">
       <p class="text-truncate">{{row.EmployeeCode}}</p>
   </mat-cell>
</ng-container>

<ng-container matColumnDef="name">
   <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
   <mat-cell *matCellDef="let row">
       <p class="text-truncate">{{row.FirstName}} </p>
   </mat-cell>
</ng-container>
<ng-container matColumnDef="email">
   <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
   <mat-cell *matCellDef="let row">
       <p class="text-truncate">{{row.Email}} </p>
   </mat-cell>
</ng-container>
<ng-container matColumnDef="contactNo">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Contact No.</mat-header-cell>
  <mat-cell *matCellDef="let row">
      <p class="text-truncate">{{row.ContactNo}} </p>
  </mat-cell>
</ng-container>
<ng-container matColumnDef="department">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Department</mat-header-cell>
  <mat-cell *matCellDef="let row">
      <p class="text-truncate">{{row.DepartmentName}} </p>
  </mat-cell>
</ng-container>
<ng-container matColumnDef="action">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
  <mat-cell *matCellDef="let row">
    <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary" (click)="editPersonalInfo(row)">
      <mat-icon aria-label="Edit">edit</mat-icon>
    </button>
  </mat-cell>
</ng-container>

<mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

<mat-row *matRowDef="let row; columns: displayedColumns;"
        class="product"
        matRipple>
</mat-row>

</mat-table> -->
    </div>
  </div>
</div>

